:root {
  /*색상 변수*/
  /* Color Theme Swatches in Hex */
  --1-hex: #0c2ff2;

  --2-hex: #3552f2;

  --3-hex: #576ef2;

  --4-hex: #c9d3f2;

  --5-hex: #80a6f2;

  /* Color Theme Swatches in RGBA */
  .Jet-AI-1-rgba {
    color: rgba(12, 46, 242, 1);
  }
  .Jet-AI-2-rgba {
    color: rgba(53, 81, 242, 1);
  }
  .Jet-AI-3-rgba {
    color: rgba(87, 110, 242, 1);
  }
  .Jet-AI-4-rgba {
    color: rgba(201, 211, 242, 1);
  }
  .Jet-AI-5-rgba {
    color: rgba(128, 166, 242, 1);
  }

  /* Color Theme Swatches in HSLA */
  .Jet-AI-1-hsla {
    color: hsla(230, 90, 49, 1);
  }
  .Jet-AI-2-hsla {
    color: hsla(230, 88, 57, 1);
  }
  .Jet-AI-3-hsla {
    color: hsla(230, 85, 64, 1);
  }
  .Jet-AI-4-hsla {
    color: hsla(224, 61, 86, 1);
  }
  .Jet-AI-5-hsla {
    color: hsla(219, 81, 72, 1);
  }

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c2ff2;
  background: rgb(201, 211, 242);
  background: -moz-radial-gradient(
    circle,
    rgba(201, 211, 242, 1) 0%,
    rgba(141, 174, 242, 1) 25%,
    rgba(87, 110, 242, 1) 70%,
    rgba(12, 47, 242, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(201, 211, 242, 1) 0%,
    rgba(141, 174, 242, 1) 25%,
    rgba(87, 110, 242, 1) 70%,
    rgba(12, 47, 242, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(201, 211, 242, 1) 0%,
    rgba(141, 174, 242, 1) 25%,
    rgba(87, 110, 242, 1) 70%,
    rgba(12, 47, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9d3f2",endColorstr="#0c2ff2",GradientType=1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-size: calc(2.2rem + 2.5vw);
}
